/*
 * Author: Ciarab
 * URL: ciaran.design
 *
 * Project Name: Ciaran
 * Version: 1.0
 */


@font-face {
  font-family: 'graphik-web-regular';
  src: 
    url('../fonts/graphik-web-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/graphik-web-regular.woff') format('woff'), 
    url('../fonts/graphik-web-regular.ttf')  format('truetype'), 
    url('../fonts/graphik-web-regular.svg#graphik-web-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'graphik-web-medium';
  src: url('../fonts/graphik-web-medium.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/graphik-web-medium.woff') format('woff'), 
  url('../fonts/graphik-web-medium.ttf')  format('truetype'), 
  url('../fonts/graphik-web-medium.svg#graphik-web-medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  color: #000;
}

h1 {
  margin: 0 0 10px;
  font-family: 'graphik-web-medium', helvetica, sans-serif;
  font-weight: normal;
  letter-spacing: .4px;
  font-size: 19px;
  color: #000;
  line-height: 1.4em;
}

h2 {
  margin: 0;
  font-family: 'graphik-web-regular', helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: .4px;
  color: #666;
}

h3 {
  font-size: 14px; 
  font-family: 'graphik-web-regular', helvetica, sans-serif;  
  text-transform: uppercase;
  
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0px 0 40px;
}

.green {
  color: #18C297;
}

.pink {
  color: #888;
}

.johnny {
  margin-top: 100px;
  margin-bottom: 20px;
  max-width: 200px;
  border-radius: 200px;
}

.orange {
  color: #FFE6D0;
}


h4 {
  font-size: 14px;
  color: #666;
  letter-spacing: .3px;
}

p, span {
  line-height: 1.8em; 
  margin-bottom: 25px;
  font-family: 'graphik-web-regular', helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
}

b {
  font-family: 'graphik-web-medium', helvetica, sans-serif;
  font-weight: normal;}

/* Links */
a {
  color: #18C297;
  word-wrap: break-word;
  cursor: pointer;
  font-family: 'graphik-web-regular', helvetica, sans-serif;
}

a:hover,
a:focus {
    border-bottom: 1px dotted #1BD9A9;
    text-decoration: none;
    outline: 0;
    color: #1BD9A9;
}

input {
    padding: 8px 8px !important;
  border-radius: 2px !important;
  min-width: 230px !important;
  border: 2px solid #e5e5e5 !important;
  max-width: 400px !important;
}

label {
  display: block;
  max-width: 100%;
  font-size: 16px;
  font-family: 'graphik-web-regular', helvetica, sans-serif;
  margin-bottom: 9px !important;
  font-weight: 400;
}

ul {
  font-size: 18px;
  line-height: 2;
  font-family: 'graphik-web-regular', helvetica, sans-serif;
  max-width: 700px;
}

#mc_embed_signup form {
  padding: 0 !important;
}

input[type=submit] {
  background: #1BD9A9;
  display: block;
  border: none;
  height: 42px;
  font-size: 16px;
  font-family: 'graphik-web-regular', helvetica, sans-serif;
}

#mc_embed_signup .button {
 background: #1BD9A9 !important;
  display: block !important;
  border: none !important;
  height: 42px !important;
  font-size: 16px !important;
  font-family: 'graphik-web-regular', helvetica, sans-serif !important; 
}

#mc_embed_signup {
  background: transparent !important;
}

.mc-field-group {
  font-family: 'graphik-web-regular', helvetica, sans-serif;
  margin-bottom: 30px;
}

a:before,
a:after {
    -webkit-transition: color 0.2s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.2s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.2s ease-in, background 0.1s ease-in;
    -o-transition: color 0.2s ease-in, background 0.1s ease-in;
    transition: color 0.2s ease-in, background 0.1s ease-in;
  }

.navbar {
  margin: 40px 0 0px;
  padding: 40px 0px;
}

a.active {
    font-family: 'graphik-web-medium';
}

hr {
  border: 1.5px dashed #fff;
  max-width: 50%;
  margin: 100px 0 0;
}

.hero-background-image {
    position: absolute;
    top: 0px;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 1;
    z-index: -1;
 } 

@media (max-width: 768px) {
  .hero-background-image {opacity: .4;}
}

.about-me {
  padding-top: 60px;
}

.about-me p {
  max-width: 600px;
}

.grey {
  color: #666;
}

.sm-grey {
  color: #666;
  font-size: 14px;
  line-height: 2;
  margin-bottom: 10px;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.featured-works {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 990px) {
  .featured-works {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }  
}

.featured-work {
  -webkit-transition: none;
  transition: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 32px;
  height: 100%;
  border: 1px solid #AAE4D7;
  background: rgba(255,255,255,.7);
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.featured-work:first-child {
  border: 1px solid #C4BBFF;
  margin: 0px 16px 0 0;
}

@media (max-width: 990px) {
  .featured-work:first-child {
    margin: 0px 0 16px 0;
  }
}

.featured-work:first-child .featured-work-title {
  color: #5934f6;
}

.featured-work:first-child .featured-work-link {
  color: #5934f6;
}

.featured-work-title {
  color: #18C297;
  font-weight: 600;
  margin-bottom: 15px;
}

.featured-work-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between; /* Safari 6.1+ */
  align-items: center;
  -webkit-align-items: center; /* Safari 7.0+ */
  align-items: center;
}

.featured-work-desc {
  padding-bottom: 32px;
}

.featured-work-time {
  margin: 0;
  font-size: 14px;
}

